<div [ngClass]="isWeb ? 'web-outer-container' : 'mobile-outer-container'">
  <img [attr.src]="imageUrl" #img alt="" />
  <div
    #div
    [ngStyle]="{
      width:
        imageEl?.nativeElement?.offsetWidth -
        divEl?.nativeElement?.offsetLeft +
        'px',
      top: top,
      left: left
    }"
  >
    <span
      *ngIf="value?.toString()?.includes('$'); else notDollar"
      [ngClass]="value.length > 4 ? 'font-size-60' : 'font-size-80'"
      >{{ value.replace('$', '') | currency: 'USD':'symbol':'1.0-0' }}</span
    >
    <ng-template #notDollar
      ><span [ngStyle]="{'font-size': fontSize}">{{ value }}</span></ng-template
    >
  </div>
</div>
