<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35758309019-1dbhk9amp65eicjmctsl5nfv2mq48rc7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35758309019-1dbhk9amp65eicjmctsl5nfv2mq48rc7</string>
	<key>API_KEY</key>
	<string>AIzaSyA-C6xW6dk17hH35tz1SDW2_friJWP8OaI</string>
	<key>GCM_SENDER_ID</key>
	<string>35758309019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.voya.edt.myvoyage</string>
	<key>PROJECT_ID</key>
	<string>myvoyage-accp</string>
	<key>STORAGE_BUCKET</key>
	<string>myvoyage-accp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35758309019:ios:0751898e0c465affafd03e</string>
</dict>
</plist>