:host {
  background-color: var(--ion-color-white);
  height: 100%;
  div.expand-collapse {
    display: flex;
    justify-content: flex-end;
    span {
      cursor: pointer;
      margin-right: 20px;
      margin-top: 25px;
      color: var(--primary-colors-voya-dark-blue);
      text-decoration: underline;
      font-size: 14px;
    }
  }

  ion-list.resource-list {
    margin: 0;
    padding: 26px 20px 0px 20px;
    background-color: var(--ion-color-white);
    overflow: auto;
  }

  .web-resource {
    @media screen and (min-width: 920px) {
      margin-left: 20px;
      margin-bottom: 40px;
    }
    @media screen and (max-width: 920px) {
      margin-bottom: 50px;
    }

    ion-list.resource-list {
      padding: 6px 20px 0px 20px;
    }
  }
}
