@import '../../../../../shared-lib/scss/tab-sub-header.scss';

:host {
  background-color: var(--white);
  .web-tabs {
    margin-top: 90px;
  }
  ion-tab-bar {
    justify-content: flex-start;
    width: 100%;
    background: var(--primary-colors-voya-white);

    & ion-tab-button {
      max-width: 150px;
    }
  }
}
