@media screen and (max-width: 500px) {
  .networth {
    margin-top: 20px;
    ion-text {
      font-size: 18px;
      font-weight: 600;
      color: var(--ion-color-dark);
    }
  }
}
@media screen and (min-width: 500px) {
  .networth {
    margin: 36px;
    margin-bottom: 80px;
    ion-text {
      font-size: 18px;
      font-weight: 600;
      color: var(--ion-color-dark);
    }
  }
}
@media screen and (max-width: 1200px) {
  .stacked-view {
    display: block;
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .stacked-view {
    display: flex;
    flex-direction: row;

    ion-card {
      flex-grow: 999;
    }
  }
  .spending-widget {
    margin-right: 80px;
  }
}

.titletop {
  height: 24px;
  flex-grow: 1;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: var(--primary-colors-voya-black);
}
.bottom-text {
  text-align: left;
  color: var(--primary-colors-voya-black);
}

ion-card {
  box-shadow: none;
}
