a {
  cursor: pointer;
}

.text-main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  .icon {
    display: flex;
    margin-right: 8px;
  }
  .heading {
    font-weight: bold;
    font-size: 20px;
  }
}
.list-heading {
  margin-bottom: 10px;
}
.text {
  color: var(--primary-colors-voya-black);
  padding: 3px;
}
.bullet {
  padding-left: 10px;
  flex: 0 0 100%;
  .desc {
    span {
      font-size: 14px;
      color: var(--primary-colors-voya-black);
    }
    .list-anchor {
      text-underline-offset: 2px;
      text-decoration-color: #6b98ac;
    }
  }
}
.bullet:first-child {
  margin-bottom: 20px;
}
.desc-image {
  display: flex;
  img {
    height: 100%;
    align-self: end;
  }
}
