ion-chip {
  border-radius: 10px;
  background-color: var(--secondary-colors-medium-gray-3);
}
.clear-txt {
  font-weight: 600;
  color: var(--primary-colors-voya-dark-blue);
  margin: 4px 15px;
  text-decoration: underline;
  cursor: pointer;
}
