.dependents-head {
  flex-grow: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: 0.03px;
  color: var(--primary-colors-voya-black);
  padding: 0 20px;
  margin-top: 10px;

  & p {
    margin: 0;
  }
}

.card-wrap {
  z-index: 1;
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow);
  padding: 20px 15px;
  margin-top: 10px;
}

.dep-wrap {
  & h4 {
    font-size: 18px;
    margin: 0 0 30px 0;
    color: var(--ion-color-dark);
  }

  .dep-row {
    margin: 0 0 20px 0;
    flex-direction: column;
    border-bottom: 0.5px solid var(--secondary-colors-voya-gray);
    padding-bottom: 15px;

    &:last-child {
      border-bottom: none;
      margin: 0px 0;
      padding-bottom: 0px;
    }
  }

  .info-row {
    margin: 0 0 15px 0;

    &:last-child {
      margin-bottom: 0;
    }

    & ion-col {
      &.value {
        text-align: right;
        font-weight: 700;
      }
    }
  }

  ion-col {
    height: 30px;
    padding: 0;
    font-size: 16px;
    color: var(--primary-colors-voya-black);
  }
}

.web-dependents {
  .dependents-head {
    padding-left: 35px;
    margin-top: 20px;
  }
  .dep-wrap {
    margin: 10px 40px 40px 40px;
    .dep-row {
      border-bottom: none;
      margin: 0px;
      padding-bottom: 0px;
      .info-row {
        margin: 0px;
        .value {
          font-weight: bold;
        }
      }
      h4 {
        font-size: 16px;
        margin-bottom: 16px;
        font-weight: bold;
      }
    }
    .h-line {
      height: 1.9px;
      flex-grow: 0;
      margin: 30px 0px 36px 0px;
      transform: rotate(-0.07deg);
      background-color: var(--secondary-colors-medium-gray-3);
    }
  }
}
