:host {
  display: block;
  p {
    font-size: 16px;
    color: var(--primary-colors-voya-dark-blue);
    margin: 4px 0px 0px 0px;
    text-decoration: underline;
    cursor: pointer;
  }

  div {
    display: flex;
    height: 100%;
  }
}
