:host {
  ion-card {
    background-color: var(--secondary-colors-voya-violet);
    padding: 20px;
    color: var(--primary-colors-voya-white);

    .title {
      font-size: 18px;
      font-weight: bold;
      line-height: 1.33;
      letter-spacing: 0.03px;
    }

    #setHsaGoalLink {
      display: flex;

      .loading {
        margin-left: 10px;
        margin-top: -3px;
        color: white;
      }
    }

    .message {
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.08px;
      padding-right: 50px;

      span {
        font-weight: 600;
        text-decoration: underline;
        text-underline-offset: 2px;
        text-decoration-thickness: 0.5px;
        cursor: pointer;
      }
    }

    img {
      position: absolute;
      top: 20px;
      right: 20px;
      bottom: 53px;
    }
  }
}
