<ion-row class="legal-content">
  <p class="legal-header">{{ displayText.legal.header }}</p>
  <div>
    <p>{{ displayText.legal.message[0] }}</p>
    <p>
      {{ displayText.legal.message[1] }}
      <a href="https://voya.com/terms-use#myvoya" class="legal-link">{{
        displayText.legal.message[2]
      }}</a>
      {{ displayText.legal.message[3] }}
    </p>
    <p>
      {{ displayText.legal.message[4] }}
      <a href="https://voya.com/privacy-notice" class="legal-link">{{
        displayText.legal.message[5]
      }}</a>
    </p>
  </div>
</ion-row>
