:host {
  background-color: var(--ion-color-white);

  .sub-header {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: 0.08px;
    margin-bottom: 20px;
  }

  .edit-email {
    border: 1px solid var(--secondary-colors-medium-gray-2);
    border-radius: 4px;
    width: auto;
    color: var(--primary-colors-voya-black);
    --padding-start: 16px;
    height: 56px;
  }

  .buttons {
    margin-top: 40px;
  }

  .error {
    color: var(--secondary-colors-error-red);
    margin-left: 4px;
    vertical-align: top;
  }

  .error-icon {
    width: 22px;
    height: 22px;
    margin-left: 4px;
    fill: var(--secondary-colors-error-red);
  }

  .error-input input {
    border-color: var(--secondary-colors-error-red) !important;
  }
  .error-title {
    color: var(--secondary-colors-error-red);
  }
  .web-edit-email {
    margin: 20px;
  }
}
