.header-section {
  background-color: var(--primary-colors-voya-dark-blue);
  color: var(--primary-colors-voya-white);
  text-align: center;
}
.header-text {
  margin: 15px 0 0 0;
  font-size: 12px;
}
.header-text-amount {
  margin: 4px 0 16px 0;
  font-size: 40px;
  font-weight: 600;
}
app-summary-benefits-list {
  margin: 20px 20px 0px 20px;

  &:last-of-type {
    margin-bottom: 20px;
  }
}
.web-benefit-summary {
  margin: 90px 0px 180px 0px;
}
