.dobinput {
  --background: white;
  border-width: 1px;
  border-style: solid;
  border-color: var(--voya-grey-font) !important;
  border-radius: 4px;
  height: 50px;
}
.dobinput-red {
  --background: white;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-warning) !important;
  border-radius: 4px;
  height: 50px;
}
ion-item {
  --padding-start: 10px;
}
.icon-cal {
  right: 0px;
  margin-right: 5px;
  position: absolute;
  width: 20px;
  height: 22px;
}
.max-width-20 {
  max-width: 20px;
}
