:host {
  background-color: var(--ion-color-white);
  padding: 0 20px;
  ion-grid {
    &.help-menu {
      margin-top: 35px;
    }
    &.help-card {
      margin-top: 30px;
    }
    ion-button {
      max-width: 200px;
      margin: auto;
    }
  }
  ion-header {
    #close-button {
      margin-left: 0px;
      font-size: 16px;
      width: 45px;
      line-height: 1.06;
      text-decoration: underline;
      --color: var(--primary-colors-voya-dark-blue);
    }
    ion-title {
      padding: 0px;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.33;
    }
  }
  ion-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .web-grid {
    header,
    p {
      color: var(--ion-color-dark);
    }
    header {
      font-weight: bold;
    }
    ion-button {
      height: 36px;
      width: 170px;
      margin: 0px auto;
      font-weight: 600;
      font-size: 16px;
    }
    ion-header {
      margin-top: 0px;
      margin-bottom: 20px;
    }
    .WealthCoachStatementText {
      font-size: 18px;
    }
    ion-text {
      font-size: 18px;
    }
    @media screen and (min-width: 920px) {
      &.workplace-help-menu {
        margin-top: 30px;
      }
      &.help-menu {
        margin: 0px 0px 0px 0px;
      }
    }
    @media screen and (max-width: 920px) {
      margin: 55px 0px 0px 0px;
    }
    padding: 0px;
    @media screen and (max-width: 920px) {
      &.help-menu {
        margin-top: 110px;
      }
      &.workplace-help-menu {
        margin-top: 30px;
      }
    }
    @media screen and (min-width: 920px) {
      &.help-menu {
        margin: 35px 20px;
      }
    }
  }
  .disclosure-text {
    margin-top: 33px;
    line-height: 1.33;
    letter-spacing: 0.09px;
    text-align: left;
    color: var(--ion-color-dark);
    @media screen and (min-width: 280px) and (max-width: 480px) {
      margin-top: 101px;
    }
  }
}

.popup-modal {
  background: var(--ion-color-white);
  .close-icon {
    @media screen and (max-width: 500px) {
      margin-top: 50px;
    }
    @media screen and (min-width: 500px) {
      margin-top: 20px;
    }
    ion-col {
      text-align: end;
    }
    ion-icon {
      font-size: 30px;
      width: 30px;
      height: 30px;
      color: var(--ion-color-dark);
    }
  }
  ion-text,
  .WealthCoachStatementText {
    color: var(--ion-color-dark);
    margin-top: 15px;
  }
  .bold {
    font-weight: bold;
  }
  .disclosure-text-row {
    margin-top: 70px;
  }
}
