:host {
  ion-card {
    margin: 20px 0px 20px 0px;
    @media screen and (min-width: 1194px) {
      margin: 20px 0px 20px 20px;
    }
    .icon {
      margin-right: 20px;
      flex: 0 0 20%;
      max-width: 51px;
    }

    .link {
      font-weight: 600;
      font-size: 18px;
      line-height: 18px;
      cursor: pointer;
    }
  }
}
