@font-face {
  font-family: ProximaNova;
  src: url('../../assets/fonts/ProximaNova-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url('../../assets/fonts/ProximaNova-Reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url('../../assets/fonts/ProximaNova-Sbold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url('../../assets/fonts/ProximaNova-Sbold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url('../../assets/fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
