.modal-page-style {
  height: 75%;
  margin-top: 100px;

  swiper {
    height: 100%;
  }

  ion-button {
    width: 48px;
    height: 48px;

    ion-icon {
      height: 100%;
      width: 100%;
    }
  }
}
