.well-being-score {
  padding: 20px;
  #tree-background {
    background-image: url('~assets/workplace-dashboard/well-being-background.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top left;
    margin: 10;
  }
  #message-text {
    margin-top: 165px;
    color: var(--primary-colors-voya-black);
    line-height: 20px;

    #schedule-text {
      font-size: 18px;
      font-weight: 700;
    }
    #nice-text {
      font-size: 18px;
      font-weight: 700;
    }
    #boost-text {
      font-size: 16px;
      font-weight: 400;
    }
  }
  .catchup-tile {
    @media screen and (max-width: 600px) {
      display: none;
    }
    max-width: 305px;
  }
}
