ion-card-content {
  color: var(--primary-colors-voya-black);
  padding-top: 25px;

  .popup-header-row {
    max-width: 280px;
    margin: auto;
    .popup-header {
      margin-bottom: 20px;
      font-size: 24px;
      .bolds {
        font-weight: bold;
        font-size: 22px;
        color: var(--primary-colors-voya-dark-blue);
      }
    }
  }

  .popup-desc-row {
    max-width: 340px;
    margin: auto;
    .popup-desc {
      font-size: 16px;
    }
  }
}
.mar-right {
  margin-right: 20px;
  margin-left: 20px;
}
ion-button {
  width: fit-content;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  min-width: 140px;
}
