<ion-grid id="footer" ngClass="{{ this.largeFont ? 'font-19' : 'font-12' }}">
  <ion-row class="p-0">
    <ion-col size="0.5" size-md="3.5" size-lg="4"></ion-col>
    <ion-col size="auto" size-lg="4" class="p-0">
      <ion-text class="m-auto p-0 toggleTxt">
        Version {{ buildVersion }} {{ workEnv }} {{ buildTimestamp }}</ion-text
      >
    </ion-col>
    <ion-col size-md="3.5" size-lg="4"></ion-col>
  </ion-row>
  <ion-row class="p-0">
    <ion-col size="0.5" size-md="3.5" size-lg="4"></ion-col>
    <ion-col size="auto" size-lg="4" class="p-0">
      <ion-text class="m-auto p-0 toggleTxt"
        >© 2021, Voya All Rights Reserved.</ion-text
      >
    </ion-col>
    <ion-col size-md="3.5" size-lg="4"></ion-col>
  </ion-row>
  <ion-row class="p-0">
    <ion-col size="0.5" size-md="3.5" size-lg="4"></ion-col>
    <ion-col size-md="5" size-lg="4" class="p-0">
      <ion-text class="m-auto p-0 toggleTxt"
        >Voya and the Voya logo are registered trademarks of Voya Services
        Company</ion-text
      >
    </ion-col>
    <ion-col size="0" size-md="3.5" size-lg="4"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col></ion-col>
  </ion-row>
</ion-grid>
