ion-button.secondary {
  --background: var(--primary-colors-voya-white);
  --color: var(--primary-colors-voya-dark-blue);
  --border-color: var(--primary-colors-voya-dark-blue);
  --border-style: solid;
  --border-width: 2px;
  font-weight: 600;
}
