<ion-grid class="ion-no-margin p-20">
  <ion-row>
    <ion-col>
      <p class="last-update">
        {{ displayText.lastUpdate}}
        {{accountRecoveryData?.login.passwordLastChangedDate | date:'longDate'}}
      </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="header">
      <div>{{ displayText.password }}</div>
    </ion-col>
  </ion-row>
  <ion-row
    ><ion-col class="ion-no-padding">
      <ion-input
        [type]="showPassword ? 'text' : 'password'"
        class="p-0 font-16"
        [value]="password"
      >
      </ion-input>
      <button
        (click)="toggleShowPassword('old')"
        class="iconbutton"
        ion-button
        clear
        large
        item-end
        icon-only
        id="old-pwd"
      >
        <ion-icon
          class="font-22"
          [name]="showPassword ? 'eye-off' : 'eye'"
        ></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="header">
      <div>{{ displayText.newPassword }}</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-no-padding">
      <ion-input
        [type]="showNewPassword ? 'text' : 'password'"
        class="p-0 font-16"
        [value]="newPassword"
        #newPasswordInput
      >
      </ion-input>
      <button
        (click)="toggleShowPassword('new')"
        class="iconbutton"
        ion-button
        clear
        large
        item-end
        icon-only
        id="new-pwd"
      >
        <ion-icon
          class="font-22"
          [name]="showNewPassword ? 'eye-off' : 'eye'"
        ></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="header">
      <div>{{ displayText.confirmPassword }}</div>
    </ion-col>
  </ion-row>
  <ion-row
    ><ion-col class="ion-no-padding">
      <ion-input
        [type]="showConfirmPassword ? 'text' : 'password'"
        class="p-0 font-16"
        [value]="confirmPassword"
        #confirmPasswordInput
      >
      </ion-input>
      <button
        (click)="toggleShowPassword('confirm')"
        class="iconbutton"
        ion-button
        clear
        large
        item-end
        icon-only
        id="confirm-pwd"
      >
        <ion-icon
          class="font-22"
          [name]="showConfirmPassword ? 'eye-off' : 'eye'"
        ></ion-icon>
      </button> </ion-col
  ></ion-row>
  <p class="manage-notifications">
    {{displayText.notificationMsg}}
    <a
      class="notification-link"
      (click)="routeToNotification()"
      id="manage-notification"
      >{{displayText.manageNotification}}</a
    >
  </p>
  <ion-row class="mt-42"
    ><ion-col size-md="2" size-sm="1" size-xs="1"></ion-col
    ><ion-col>
      <ion-button
        size="small"
        id="cancel-btn"
        class="font-16"
        name="submit"
        shape="round"
        expand="block"
        color="btncolor"
        fill="outline"
        (click)="goBack()"
        >{{ displayText.button.cancel }}
      </ion-button></ion-col
    >
    <ion-col>
      <ion-button
        size="small"
        id="save-btn"
        class="font-16"
        name="submit"
        shape="round"
        expand="block"
        color="btncolor"
        type="submit"
        [disabled]="submitDisabled"
        (click)="submitNewPassword()"
        >{{ displayText.button.save }}
      </ion-button></ion-col
    ><ion-col size-md="2" size-sm="1" size-xs="1"></ion-col>
  </ion-row>
</ion-grid>
