<ion-grid class="ion-no-margin p-20">
  <div [ngClass]="isWeb? 'web-edit-display-name':'mobile-edit-display-name'">
    <ion-row>
      <ion-col>
        <div class="header">{{ displayText.nameLabel }}</div>
      </ion-col>
    </ion-row>
    <ion-row
      ><ion-col>
        <ion-input
          class="edit-name"
          id="editName"
          name="editName"
          type="text"
          #editNameInput
          [value]="this.participantData?.displayName"
          (ionChange)="valueChanged(editNameInput.value)"
          clearInput
        ></ion-input> </ion-col
    ></ion-row>
    <ion-row *ngIf="!displayNameVailid">
      <ion-col>
        <ion-icon
          class="error-icon"
          src="assets/icon/warning.svg"
          alt="warning"
        ></ion-icon
        ><ion-text class="error"
          >{{ displayText.errors.invalidDisplayName }}</ion-text
        >
      </ion-col>
    </ion-row>
    <ion-row class="mt-42"
      ><ion-col size="2"></ion-col
      ><ion-col>
        <ion-button
          id="cancel-btn"
          class="font-12"
          name="submit"
          shape="round"
          expand="block"
          color="btncolor"
          fill="outline"
          (click)="cancel()"
          >{{ displayText.button.cancel }}
        </ion-button></ion-col
      >
      <ion-col>
        <ion-button
          id="save-btn"
          class="font-12"
          name="submit"
          shape="round"
          expand="block"
          color="btncolor"
          (click)="saveDisplayName()"
          disabled
          [attr.disabled]="!displayNameVailid"
          >{{ displayText.button.save }}
        </ion-button></ion-col
      ><ion-col size="2"></ion-col>
    </ion-row>
  </div>
</ion-grid>
