@import '../../../../../../../../../styles/mediaVariables.scss';
ion-card {
  @include desktop {
    margin: 20px 0px 20px 20px;
  }
  @include tablet {
    margin: 20px 0px;
  }

  .finStrongScore-btn-section {
    text-align: center;

    .finStrongScore-button {
      font-size: 16px;
      font-weight: 600;
      height: 40px;
    }
  }
}
